<div class="responsive-logo position-absolute top-0 start-50 translate-middle-x">
    <img class="img-fluid" src="../../../assets/img/logo-text-bgwhite.png" alt="">
</div>

<section class="bg-img d-flex align-items-center">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="responsive-size col-lg-6 bg-white p-5">
                <div>
                    <a class="d-flex flex-column align-items-center">
                        <img src="../../../assets/img/SVG/profile.svg" width="50" height="50" alt="">
                    </a>
                    <h1 class="text-center text-uppercase color-main font-architects-daughter mt-2">Mot de passe oublié
                    </h1>
                </div>
                <form class="mx-sm-5 mt-sm-5 px-sm-4" *ngIf="!isEmailOk">
                    <div class="form-group">
                        <label for="email">Votre email</label>
                        <input type="email" [formControl]="email" class="form-control" id="email" required>
                    </div>

                    <div class="btn-div text-center mt-sm-5">
                        <button type="submit" (click)="emailValidate()" class="btn btn-main">Changer le mot de
                            passe</button>
                    </div>

                </form>
                <form class="" *ngIf="isEmailOk && !isAnswerOk">
                    <div class="secretQuestion">
                        <p>{{secretQuestion}}</p>
                    </div>
                    <div class="form-group">
                        <label for=""></label>
                        <input type="text">
                    </div>

                    <div class="btn-div text-center mt-sm-5">
                        <button type="submit" (click)="secretQuestionValidate()" class="btn btn-main">Suivant</button>
                    </div>
                </form>
                <form class="" *ngIf="isAnswerOk">

                    <div class="form-group">
                        <label for="">Nouveau mdp</label>
                        <input type="text">
                    </div>
                    <div class="form-group">
                        <label for="">Repeter mdp</label>
                        <input type="text">
                    </div>

                    <div class="btn-div text-center mt-sm-5">
                        <button type="submit" (click)="PasswordChange()" class="btn btn-main">Changer de mot de
                            passe</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>