<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 99">
    <!-- Toast Information -->

    <div id="toast" data-bs-delay="5000" data-bs-autohide="true"
        class="toast d-flex align-items-center justify-content-between p-3 round-5 w-auto" role="alert"
        aria-live="assertive" aria-atomic="true">
        <div class="left-blue-line p-3">
            <img class="icon-blue" src="../../assets/img/SVG/toasts/blue.svg" height="30" width="30" />
        </div>
        <div class="ps-2 pe-5">
            <h3 class="f-bold mb-1">Information</h3>
            <p class="mb-0">Ceci est un message</p>
        </div>
        <div>
            <button type="button" class="border-0 bg-transparent p-0" data-bs-dismiss="toast" aria-label="Close"><img
                    class="icon-blue" src="../../assets/img/SVG/toasts/close.svg" height="20" width="20" /></button>
        </div>
    </div>
</div>