<div class="bg-img d-flex align-items-center flex-column utilisateurs">
  <h2> Liste des utilisateurs </h2>
  <div class="container">
    <ul>
      <li class="table-header">
        <div class="col col-1">Email</div>
        <div class="col col-2">Username</div>
        <div class="col col-3">Role</div>
        <div class="col col-4"></div>
        <div class="col col-5"></div>
      </li>
      <div *ngFor="let user of arrayUsers">
      <li class="table-row">
        <div class="col col-1" data-label="Email">{{user.email}}</div>
        <div class="col col-2" data-label="Username">{{user.username}}</div>
        <div class="col col-3" data-label="Role">{{user.role}}</div>
        <button (click)="delete(user.idUser)" class="col col-4" data-label="Delete"><img src="../../../assets/img/SVG/delete.svg" width="30" height="30"></button>
        <button (click)="upgrade(user.idUser)" *ngIf="user.role === 'USER'" class="col col-5" data-label="Upgrade"><img src="../../../assets/img/SVG/up.svg" width="30" height="30"></button>
        <button (click)="down(user.idUser)" *ngIf="user.role === 'ADMIN'" class="col col-5" data-label="down"><img src="../../../assets/img/SVG/down.svg" width="30" height="30"></button>
      </li>
    </div>
    </ul>
  </div>

</div>
