<section class="test-section">
    <div class="container mt-5">
        <div class="row mt-5">
            <form (ngSubmit)="login()" [formGroup]="loginForm">
                <div class="form-group">
                    <label for="email">Adresse email</label>
                    <input type="email" formControlName="email" class="form-control" id="email"
                        aria-describedby="emailHelp" required>
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" formControlName="password" class="form-control" id="password" required>
                </div>
                <div class="row mt-5">
                    <div class="col-6">
                        <button class="btn btn-main w-100" type="submit">Connexion</button>
                    </div>
                    <div class="col-6">
                        <a class="btn btn-reverse w-100" routerLink="/inscription">Inscription</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>