.question {
  padding: 130px 0;
  min-height: 94vh;
}

.question-form {
  margin-bottom: 20px;
  display: flex;
  width: 50%;
}

input {
  margin-right: 10px;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
}

li {
  border-radius: 3px;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.table-header {
  background-color: #ff473f;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.table-row {
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

.col-1 {
  flex-basis: 80%;
}

.col-2 {
  flex-basis: 5%;
}

.col-3 {
  flex-basis: 5%;
}


.button-delete {
  background-color: white;
  border: 1px solid white;
  color: #eee;
}

.button-add {
  background-color: white;
  border: 1px solid #ff473f;
  width: auto;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.image-add {
  margin-left: 10px;
}
